.App {
  padding-left: 15%;
  padding-right: 15%;
  margin-top: 1%;
}

.NavBar {
  width: 100%;
  display: inline-flex;
  align-items: baseline;
}

.MainNavTab {
  font-size: 250%;
  white-space: nowrap;
}


.NavTab {
  font-size: 180%;
  margin-left: 7.50%;
  white-space: nowrap;
}

a:hover {
  text-decoration: none !important;
  font-weight: 500;
}