.quest {
    position: fixed;
    right: 0;
    top: 0;
    padding: 2.5%;
}

.questText {
    font-size: 50%;
}

.questSubmit {
    margin: auto;
    position: absolute;
}

.questpage {
    text-align: center;
}